<div class="search">
    <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text"><img src='../../../assets/images/icons/path.svg'/></span>
            </div>
            <input type="text" class="form-control" placeholder="What service you need" autofocus>
            <div class="input-group-append">
                <span class="input-group-text"><img src='../../../assets/images/icons/format-paint-material.svg'/></span>
            </div>
            <div class="input-group-append">
                    <button type="button" class="btn">Find Service</button>
                </div>
        </div>
        <ul class="tags">
            <li *ngFor='let tag of tags'>{{tag}}</li>
            <li><span>...</span></li>
        </ul>
</div>