<div>
    <app-header></app-header>
    <section class="banner">
        <div class="container d-flex vh-100">
            <div class="row contents  align-self-center">
                <div class="col-md-7">
                    <h1>Find Reliable & Verified
                        Home Service Providers<span>.</span></h1>
                    <app-search></app-search>
                </div>
            </div>
        </div>
    </section>
    <section class="links">
        <div class="container">
            <ul>
                <li class="active">
                    <span><img src="assets/images/icons/all.svg" alt='All Categories'></span>
                    All Categories
                </li>
                <li>
                    <span><img src="assets/images/icons/home.svg" alt='Home'></span>
                    Home
                </li>
                <li>
                    <span><img src="assets/images/icons/business.svg" alt='Business'></span>
                    Business
                </li>
                <li>
                    <span><img src="assets/images/icons/camera.svg" alt='Camera'></span>
                    Camera
                </li>
                <li>
                    <span><img src="assets/images/icons/lessons.svg" alt='Lessons'></span>
                    Lessons
                </li>
                <li>
                    <span><img src="assets/images/icons/entertainment.svg" alt='Entertainment'></span>
                    Entertainment
                </li>
            </ul>
        </div>
    </section>
</div>